{% extends 'base.html' %}
{% block title %}忘记密码 - 小熊笔记{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-offset-2 col-l-8 postform">
            <h2>忘记密码</h2>
            
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="message">
                  {{ message }}
                 </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form method="POST">
            {{ forgetpsw.csrf_token }}
                <div class="form-line">
                    {{ forgetpsw.email(placeholder="邮箱",required='required') }}
                    <p>请输入你的登录邮箱，用于发送密码重置邮件</p>
                    <p>若无法收到邮件，请检查垃圾箱</p>
                    <p>密码重置邮件发送间隔为1分钟，若无法收到，请重试</p>
                </div>
                <div class="form-line">
                    <button>发送邮件</button>
                </div>
                <div class="more-action">
                    <a href="{{ url_for('sign_module.login_function') }}">登录</a> , <a href="{{ url_for('sign_module.register_function') }}">注册</a> , <a href="{{ url_for('sign_module.forgetpassword_function') }}">忘记密码</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}