{% extends 'base.html' %}
{% block title %}注册 - 小熊笔记{% endblock %}


{% block content %}
<div class="content">
  <div class="row">
    <div class="col-offset-2 col-l-8 postform">
      <h2>注册</h2>
      
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="message">
      {{ message }}
     </div>
    {% endfor %}
  {% endif %}
{% endwith %}
      <form method="POST">
      {{ register.csrf_token }}
        <div class="form-line">
            {{ register.email(placeholder="邮箱",required='required') }}
            <p>用于登录的邮箱,必须</p>
        </div>
        <div class="form-line">

            {{ register.username(placeholder="用户名",required='required') }}
            <p>长度必须为3到12位,必须</p>
        </div>
        <div class="form-line">
            {{ register.password(placeholder="密码",required='required') }}
            <p>6到18个字符,必须</p>
        </div>
        <div class="form-line">
            {{ register.confirm_password(placeholder="重复密码",required='required') }}
            <p>务必于密码相同,必须</p>
        </div>
        <div class="form-line">
            {{ register.accept_tos() }}{{ register.accept_tos.label }}
        </div>
        <div class="form-line">
            <button>注册</button>
        </div>
        <div class="more-action">
          <a href="{{ url_for('sign_module.login_function') }}">登录</a> , <a href="{{ url_for('sign_module.register_function') }}">注册</a> , <a href="{{ url_for('sign_module.forgetpassword_function') }}">忘记密码</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}