{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}<br />
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="POST">
    {{ resetform.csrf_token }}
    {{ resetform.email.label() }} {{ resetform.email(size=20,class="reg-email") }}
    {{ resetform.forgetstring.label }} {{ resetform.forgetstring(size=20) }}
    {{ resetform.password.label }} {{ resetform.password(size=20) }}
    {{ resetform.confirm_password.label }} {{ resetform.confirm_password(size=20) }}
    <button>Reset Password</button>
</form>