{% extends 'base.html' %}
{% block title %}设置新密码 - 小熊笔记{% endblock %}


{% block content %}
<div class="content">
  <div class="row">
    <div class="col-offset-2 col-l-8 postform">
      <h2>设置新密码</h2>
      
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="message">
      {{ message }}
     </div>
    {% endfor %}
  {% endif %}
{% endwith %}
      <form method="POST">
      {{ resetform.csrf_token }}
        <div class="form-line">
            {{ resetform.email(placeholder="邮箱",required='required') }}
            <p>用于登录的邮箱,必须</p>
        </div>
        <div class="form-line">

            {{ resetform.forgetstring(placeholder="密钥串",required='required') }}
            <p>填写我们发送至你又将的密钥串，用于检验提交是否合法,必须</p>
        </div>
        <div class="form-line">
            {{ resetform.password(placeholder="新密码",required='required') }}
            <p>6到18个字符,必须</p>
        </div>
        <div class="form-line">
            {{ resetform.confirm_password(placeholder="重复新密码",required='required') }}
            <p>务必于新密码相同,必须</p>
        </div>
        <div class="form-line">
            <button>更改</button>
        </div>
        <div class="more-action">
          <a href="{{ url_for('sign_module.login_function') }}">登录</a> , <a href="{{ url_for('sign_module.register_function') }}">注册</a> , <a href="{{ url_for('sign_module.forgetpassword_function') }}">忘记密码</a> , <a href="{{ url_for('sign_module.resetpassword_function') }}">设置新密码</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}