{% extends 'users/setting_base.html' %}
{% block title %}密码修改 - 小熊笔记{% endblock %}

{% block slidercontent %}
<div class="setting-header">
	密码修改
	<p class="setting-header-description">
	用于修改账号的登录密码
	</p>
</div>
<form method="POST">
{{ password_form.csrf_token }}
<div class="form">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="row">
		{% for message in messages %}
		<div class="message">
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}

	<div class="row">
		<div class="col-l-2">
			{{ password_form.beforepassword.label(class="label") }}
		</div>
		<div class="col-l-10">
			{{ password_form.beforepassword(class="input") }}
		</div>
	</div>
	<div class="row">
		<div class="col-l-2">
			{{ password_form.newpassword.label(class="label") }}
		</div>
		<div class="col-l-10">
			{{ password_form.newpassword(class="input",placeholder="长度为6-18位") }}
		</div>
	</div>
	<div class="row">
		<div class="col-l-2">
			{{ password_form.confirm_newpassword.label(class="label") }}
		</div>
		<div class="col-l-10">
			{{ password_form.confirm_newpassword(class="input",placeholder="重复你的新密码") }}
		</div>
	</div>
	<div class="row">
		<div class="">
			<button class="button">修改</button>
		</div>
	</div>
</div>
</form>

{% endblock %}