{% extends 'base.html' %}

{% block title %}关于我们 - 小熊笔记{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typo.css') }}" />
<script src="{{ url_for('static', filename='js/commonmark.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="article">
        <div class="article-header">
            <div class="title">关于我们</div>
            <div class="subtitle">小熊笔记的介绍 和 程序的更新记录 和 联系方式</div>
        </div>
        <div class="article-content typo" id="article-content">
            <h2>小熊笔记</h2>
                <p>小熊笔记开发的初衷是为了让我们更轻松地记笔记。<br />
                而后我们考虑到为了让知识能够更好地传播，我们设置了公开笔记，让我们可以分享知识给他人。<br />
                其次，我们考虑到部分使用者的使用方式，我们也添加了独立域名的绑定，让使用更加灵活。<br />
                当然，我们是用<strong>MarkDown</strong>这种比较前卫的方式来书写笔记的，虽然说着会让部分使用者不习惯，甚至不会用，但是我们希望能推广这种编写方式，就像当年“拒绝使用IE6，使用高版本浏览器”一样。<br />
                希望<strong>小熊笔记</strong>可以跟我们的知识一样保持并且流传下来</p>
            <h2>联系方式</h2>
                <p>你可以通过Email的方式联系我们<br />
                Email: <a href="mailto:admin@bearnote.com">admin@bearnote.com</a></p>
        </div>
    </div>
</div>
{% endblock %}

