{% extends 'base.html' %}

{% block title %}功能、特色 - 小熊笔记{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typo.css') }}" />
<script src="{{ url_for('static', filename='js/commonmark.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="article">
        <div class="article-header">
            <div class="title">功能、特色</div>
            <div class="subtitle">小熊笔记的功能、特色</div>
        </div>

        <div class="article-content typo" id="article-content">
            <h2>笔记权限设置</h2>
            <p>小熊笔记设置了私有笔记和公开笔记两种形式，并且可以自由转换，不受任何限制。<br>公开笔记中我们提供了分类设置，让笔记更工整，更容易查找。</p>

            <h2>MarkDown 支持</h2>
            <p>我们的编辑方式采用了MarkDown编辑方式，让笔记更多样化，表现更直接。<br>当然，为了保护部分不会使用MarkDown的使用者，我们提供了类似富文本编辑框的工具栏来使MarkDown更容易上手，使用起来更方便。</p>

            <h2>自定义域名</h2>
            <p>我们提供了绑定自有域名的功能，让你的笔记可以独立出来，形如博客。<br>当然，为了保证多样性，我们后续会提供自定义CSS功能的支持。</p>

            <h2>更多 More</h2>
            <p>更多想要的功能等你来提出<br>告诉我们，我们改，我们加。</p>
        </div>
    </div>
</div>
{% endblock %}
