@font-face {
	font-family: 'noteeditor';
	src:url('fonts/noteeditor.eot?jenkgs');
	src:url('fonts/noteeditor.eot?#iefixjenkgs') format('embedded-opentype'),
		url('fonts/noteeditor.ttf?jenkgs') format('truetype'),
		url('fonts/noteeditor.woff?jenkgs') format('woff'),
		url('fonts/noteeditor.svg?jenkgs#noteeditor') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	font-family: 'noteeditor';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-picture-o:before {
	content: "\e600";
}
.fa-quote-left:before {
	content: "\e601";
}
.fa-arrows-alt:before {
	content: "\e602";
}
.fa-list-ol:before {
	content: "\e603";
}
.fa-list-ul:before {
	content: "\e604";
}
.fa-link:before {
	content: "\e605";
}
.fa-eye:before {
	content: "\e606";
}
.fa-question-circle:before {
	content: "\e607";
}
.fa-header:before {
	content: "\e608";
}
.fa-bold:before {
	content: "\e609";
}
.fa-italic:before {
	content: "\e60a";
}
.fa-strikethrough:before {
	content: "\e60b";
}
.fa-minus:before {
	content: "\e60d";
}
.fa-code:before {
	content: "\e60c";
}
.fa-columns:before {
	content: "\e60e";
}
