{% extends 'base.html' %}
{% block title %}我的笔记 - 小熊笔记{% endblock %}

{% block content %}
<div class="content">
    <div class="content-header">
        <h1>我的笔记<span><a href="{{ url_for('note_module.note_new_function') }}">撰写 新笔记</a></span></h1>
    </div>
    <div class="note-list">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
        <ul class="one-note">
            {% for one_note in notes %}
        
            <li>
            <div class="title"><a href="{{url_for('note_module.one_note_function',noteid=one_note.noteid)}}">{{ one_note.title }}</a></div>
            {% if one_note.subtitle %}
            <div class="subtitle">{{ one_note.subtitle }}</div>
            {% endif %}
            <div class="inf">{{ one_note.time.strftime('%Y-%m-%d') }}
            {% if one_note.public_status %}
            <span class="public">{{ one_note.public_cate.name }}</span>
            {% endif %}
            <span class="action" style="float:right;"><a href="{{ url_for('note_module.note_edit_function',noteid=one_note.noteid) }}">修改</a> <a href="{{ url_for('note_module.note_delete_function',noteid=one_note.noteid) }}">删除</a></span></div>
            </li>
        
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="page-info">
            {% if not page_info.now_page == 1 %}<a href="{{ url_for('note_module.mynote_function',page = page_info.now_page-1) }}">上一页</a> {% endif %}共 {{ page_info.page_count }} 页 , 当前第 {{ page_info.now_page }} 页{% if not page_info.now_page == page_info.page_count %} <a href="{{ url_for('note_module.mynote_function',page = page_info.now_page+1) }}">下一页</a>{% endif %}
        </div>
    </div>
</div>
{% endblock %}