{% extends 'base.html' %}

{% block title %}新笔记 - 小熊笔记{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplemde.min.css') }}" />
<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <div class="content-header">
        <h1>新笔记<span><a href="{{ url_for('note_module.mynote_function') }}">返回 我的笔记</a></span></h1>
    </div>
    <div class="note-editor">
        <form method="POST">
        {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="message">
                  {{ message }}
                 </div>
                {% endfor %}
              {% endif %}
        {% endwith %}
        {{ note_new_form.csrf_token }}
            <div class="row">
                {{ note_new_form.title(placeholder="标题",required='required') }}

            </div>
            <div class="row">
                {{ note_new_form.subtitle(style="text-align:right;",placeholder="副标题") }}
            </div>
            <div class="row">
                {{ note_new_form.content(placeholder="笔记正文",id="note") }}
            </div>
            <div class="row">
                {{ note_new_form.public.label }}
                {{ note_new_form.public() }} <a href="{{ url_for('sign_module.setting_function',setcate="publicsetting") }}">设置分类</a>
            </div>
            <div class="row">
            {{ note_new_form.tag(placeholder="标签 , 用半角 , 分割") }}
            </div>
            <div class="row">
            <button>提交</button>
            </div>
            
        </form>

    </div>
</div>

{% endblock %}

{% block jsruner %}

<script>

var simplemde = new SimpleMDE({
    element: document.getElementById("note"),
    spellChecker:false,
    tabsize:4,
});

</script>
{% endblock %}