{% extends 'base.html' %}

{% block title %}{{ this_note.title }} - 小熊笔记{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typo.css') }}" />
{% endblock %}

{% block content %}
<div class="content">
    <div class="article">
        <div class="article-header">
            <div class="title">{{ this_note.title }}</div>
            {% if this_note.subtitle %}
            <div class="subtitle">{{ this_note.subtitle }}</div>
            {% endif %}
            <div class="information">
                {{ this_note.time.strftime('%Y-%m-%d') }}
                {% if 'user' in session %}
                {% if this_note.belong.email == session.user.email %}
                <span class="action"><a href="{{ url_for('note_module.note_edit_function',noteid=this_note.noteid) }}"><i class="icon-pencil"></i>修改</a> <a href="{{ url_for('note_module.note_delete_function',noteid=this_note.noteid) }}"><i class="icon-bin"></i>删除</a></span>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="article-content typo" id="article-content">{{ this_note.content|safe }}</div>
        {% if this_note.public_status == 1 %}
        <div class="article-author">
            <h3>作者信息</h3>
            <img src="https://cdn.v2ex.com/gravatar/{{ this_note.belong.email_md5 }}?s=64&d=retro" class="article-author-gravator">
            <div class="article-author-information">
                <div class="article-author-author">{{ this_note.belong.username }}</div>
                <div class="article-author-email">{{ this_note.belong.email }}</div>
                {% if this_note.belong.description %}
                <div class="article-author-description">{{ this_note.belong.description }}</div>
                {% endif %}
            </div>
        </div>

        <div class="comment-list">
            <h3>评论列表</h3>
          {% for one_comment in all_comment %}
              <div class="one-comment">
                <div class="one-comment-img"><img src="https://cdn.v2ex.com/gravatar/{{one_comment.email_md5}}?s=42&d=retro"></div>
                <div class="one-comment-content">
                  {{one_comment.content|e}}
                  <div class="one-comment-content-inf">{% if one_comment.domain %}<a href="{{one_comment.domain}}" target="_blank">{{one_comment.name}}</a>{% else %}{{one_comment.name}}{% endif %} / {{ one_comment.time.strftime('%Y-%m-%d') }}</div>
                 </div>
                </div>
          {% endfor %}
        </div>
        <div class="row comment-post">
            <h3>提交一条新评论</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST">
            <div class="col-l-4">
                {{ comment.csrf_token }}
                {{ comment.name(class="input",placeholder="姓名",required='required') }}
                {{ comment.email(class="input",placeholder="邮箱",required='required') }}
                {{ comment.domain(class="input",placeholder="个人主页") }}
            </div>
            <div class="col-l-8">
                
                {{ comment.content(class="input comment",placeholder="评论内容",required='required') }}
                
                
            </div>
            <button class="button">提交</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
