<!DOCTYPE html>
<html lang="zh">
<head>

<meta charset="utf-8">
<title>{% block title %}小熊笔记 - 只为更轻松地记录笔记{% endblock %}</title>

<meta name="google" value="notranslate">
<link rel="shortcut icon" type="image/ico" href="" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
{% block header %}{% endblock %}
</head>
<body>
<div class="header">
    <a href="/" class="logo"></a>
    {% if 'user' in session %}
    <ul class="nav">
        <li><a href="{{ url_for('note_module.mynote_function') }}">我的笔记</a></li>
        <li><a href="{{ url_for('note_module.note_wall_function') }}">笔记墙</a></li>

    </ul>
    <div class="right-pic">
        <a href="{{ url_for('sign_module.me_function') }}"><img src="https://cdn.v2ex.com/gravatar/{{ session['user']['email_md5'] }}?s=48&d=retro"></a>
        <ul class="droplist">
            <li><a href="{{ url_for('note_module.mynote_function') }}">笔记</a></li>
            <li><a href="{{ url_for('sign_module.setting_function',setcate='account') }}">设置</a></li>
            <hr />
            <li><a href="{{ url_for('sign_module.logout_function') }}">登出</a></li>
        </ul>
    </div>
    {% else %}
    <ul class="nav">
        <li><a href="{{ url_for('note_module.note_wall_function') }}">笔记墙</a></li>

    </ul>
    <div class="right-nav">
        <a href="{{ url_for('sign_module.login_function') }}">登录</a>
        <a href="{{ url_for('sign_module.register_function') }}">注册</a>
    </div>
    {% endif %}
</div>
{% block content %}
{% endblock %}
<div class="footer">
    <p style="font-weight: 300;"><a href="{{ url_for('common_module.index_function') }}">首页</a><a href="{{ url_for('common_module.feature_function') }}">功能</a><a href="{{ url_for('common_module.pricing_function') }}">价格</a><a href="{{ url_for('common_module.tos_function') }}">用户协议(ToS)</a><a href="{{ url_for('common_module.about_function') }}">关于我们</a></p>
    <p>只为更轻松地记笔记</p>
    <p>Copyright BearNote 2015-2016.</p>

</div>
</body>
{% block jsruner %}
{% endblock %}
</html>