<!DOCTYPE html>
<html lang="zh">
<head>

<meta charset="utf-8">
<title>{% block title %}小熊笔记 - 只为更轻松地记录笔记{% endblock %}</title>

<meta name="google" value="notranslate">
<link rel="shortcut icon" type="image/ico" href="" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<div class="header">
	<a href="/" class="logo"></a>

	<div class="right-nav">
		<a href="{{ url_for('sign_module.login_function') }}">登录</a>
		<a href="{{ url_for('sign_module.register_function') }}">注册</a>
	</div>
</div>

<div class="content">
	<div class="content-header">
		<h1>新笔记</h1>
	</div>
	<div class="note-editor">
		<form method="POST" class="note-editor">
			<div class="row">
				<input type="text" placeholder="标题">
			</div>
			<div class="row">
				<input type="text" style="text-align:right;" placeholder="副标题">
			</div>
			<div class="row">
				<textarea placeholder="笔记正文"></textarea>
			</div>
			<div class="row">
				<div class="col-l-6">
					<label>公开:</label>
					<select>
       					<option>Here is the first option</option>
       					<option>The second option</option>
					</select>
					</div>
				<div class="col-l-6">
					<label>博客:</label>
					<select>
       					<option>Here is the first option</option>
       					<option>The second option</option>
					</select>
				</div>
			</div>
			<div class="row">
				<input type="text" placeholder="标签 , 用半角 , 分割">
			</div>
			
		</form>

	</div>
</div>

<div class="footer">
	<p style="font-weight: 700;"><a href="{{ url_for('common_module.index_function') }}">首页</a><a href="{{ url_for('common_module.feature_function') }}">功能</a><a href="{{ url_for('common_module.pricing_function') }}">价格</a><a href="{{ url_for('common_module.tos_function') }}">用户协议(ToS)</a><a href="{{ url_for('common_module.about_function') }}">关于我们</a></p>
	<p>只为更轻松地记笔记</p>
	<p>Copyright BearNote 2015-2016.</p>

</div>
</body>
</html>